<div ng-controller="BookController">
	<h2>Book</h2>
	<form name="bookForm" novalidate method="POST"
		ng-submit="addBook(book)">
		<input type="hidden" ng-model="book.id" name="id" />
		<md-input-container> <label>Name</label> <input
			ng-model="book.name" required maxlength="50"  md-no-asterisk
			name="name" />
		<div ng-messages="bookForm.name.$error" ng-show="showHints">
			<div ng-message="required">This is required.</div>
			<div ng-message="md-maxlength">The description must be less
				than 50 characters long.</div>
		</div>
		</md-input-container>
		<div>
			<md-button type="submit">Submit</md-button>
			<md-button ng-click="cleanForm()">Clean</md-button>
		</div>
	</form>

	<hr />
	<md-button ng-click="loadBooks()">Carregar Livros</md-button>
	<table>
		<thead>
			<tr align="center">
				<th>Id</th>
				<th>Name</th>
				<th>Delete</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
				<td>{{book.id}}</td>
				<td>{{book.name}}</td>
				<td><md-button ng-click="deleteBook(book)">Delete</md-button></td>
				<td><md-button ng-click="editBook(book)">Edit</md-button></td>

			</tr>
		</tbody>
		<tfoot>
			<tr ng-if="length > 0">
				<td colspan="3" align="right"><b>Total</b></td>
				<td align="center">{{length}}</td>
			</tr>
		</tfoot>
	</table>
</div>