<div align="center">
	<form name="loginForm" method="post" novalidate="novalidate"
		ng-submit="loginCtrl.login()">
		<div>
			<md-input-container> <label for="username">Username:</label>
			<input type="text" id="username" name="username" required
				ng-model="loginCtrl.credentials.username" />
			<div ng-messages="loginForm.username.$error">
				<div ng-message="required">This field is required.</div>
			</div>	
			</md-input-container>
		</div>
		<div>
			<md-input-container> <label for="password">Password:</label>
			<input type="password" id="password" name="password" required
				ng-model="loginCtrl.credentials.password" />
			<div ng-messages="loginForm.password.$error">
				<div ng-message="required">This field is required.</div>
			</div>
			</md-input-container>
		</div>
		<div>
			<md-button class="md-fab md-primary" type="submit" aria-label="Login"
				title="Login"> <md-icon>save</md-icon> </md-button>
		</div>
	</form>
</div>