<div align="center">
	<form name="loginForm" method="post" novalidate="novalidate"
		ng-submit="loginCtrl.login()">
		<div>
			<md-input-container> <label for="username">Username:</label>
			<input type="text" id="username" name="username" required
				ng-model="loginCtrl.credentials.username" /></md-input-container>
		</div>
		<div>
			<md-input-container> <label for="password">Password:</label>
			<input type="password" id="password" name="password" required
				ng-model="loginCtrl.credentials.password" /></md-input-container>
		</div>
		<div>
			<md-button class="md-fab md-primary" type="submit" aria-label="Login"
				title="Login"> <md-icon>save</md-icon> </md-button>
			<!-- <md-button class="md-fab md-warn" aria-label="Clear" title="Clear">
			<md-icon>clear</md-icon> </md-button> -->
		</div>
	</form>
	<div ng-show="loginCtrl.error">There was a problem logging in.
		Please try again.</div>
</div>