.home-card-subhead {
	margin-top: 30px;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: .10em;
	min-height: 270px;
	line-height: 40px;
	color: window;
}

md-card.md-default-theme, md-card{
	background-color: background;	
}