<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<base href="/" />
<title>Web IRPF Application</title>
<link rel="shortcut icon" href="img/icon/lion-icon.ico" />
<link rel="icon" href="/img/icon/lion-icon.jpg" />
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'
	type='text/css' />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet"
	href="js/angular-material/angular-material.min.css" />
<link rel="stylesheet" href="css//webirpf.css" />
<script src="js/angular-1.6.2/angular.min.js"></script>
<script src="js/angular-1.6.2/angular-route.min.js"></script>
<script src="js/angular-1.6.2/angular-resource.min.js"></script>
<script src="js/angular-1.6.2/angular-sanitize.min.js"></script>
<script src="js/angular-1.6.2/angular-animate.min.js"></script>
<script src="js/angular-1.6.2/angular-aria.min.js"></script>
<script src="js/angular-1.6.2/angular-messages.min.js"></script>
<script src="js/angular-material/angular-material.min.js"></script>
<script src="js/webirpf.js"></script>
<script src="js/controller/login-controller.js"></script>
<script src="js/controller/menu-controller.js"></script>
<script src="js/controller/book-controller.js"></script>
<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>
<body ng-app="webirpf" ng-cloak="" class="ng-cloak">
	<div align="center">
		<md-toolbar class="menu-toolbar"
			ng-controller="LoginController as loginCtrl">
		<div class="md-toolbar-tools">
			<span flex=""></span>
			<div class="lock-size" layout="row" layout-align="center bottom">
				<md-button aria-label="Home" class="md-raised"
					ng-click="loginCtrl.goto('/home')"> <md-icon>home</md-icon>
				Home</md-button>
				<md-button aria-label="Book" class="md-raised"
					ng-click="loginCtrl.goto('/book')" ng-show="authenticated">
				<md-icon>location_city</md-icon> Book </md-button>
				<md-button aria-label="Login" class="md-raised md-primary md-hue-3"
					ng-click="loginCtrl.goto('/login-form')" ng-show="!authenticated">
				<md-icon>account_circle</md-icon> Login </md-button>
				<md-button aria-label="Logout" class="md-raised md-accent"
					ng-click="loginCtrl.logout()" ng-show="authenticated"
					title="{{userrrName}}"> <md-icon>power_settings_new</md-icon>
				Logout</md-button>
			</div>
			<span flex=""> </span>
		</div>
		</md-toolbar>
		<ng-view></ng-view>
	</div>
</body>
</html>